*
body{  
    margin: 0;
    padding: 0;
    background-image: url(d56e61e4083073ca7221bb1502773bc0.jpg);
    background-size: cover;  
    background-position: center;
    background-repeat: no-repeat;
    font-size:nunito;
    padding-top: 65px;
}


body::before{
    content: "";
    position: fixed;
    top: 0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(179,0,0,0.50);
    z-index:-1 ;
}


.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255,255,255,0.85);
    padding: 12px;
    text-align: center;
    backdrop-filter: blur(4px);
    z-index: 50;

}

.menu a{
    margin: 0 12px;
    color:#b30000;
    font-weight: bold;
    text-decoration: none;
    font-size: 17px;
}

.menu a:houver{
    text-decoration: underline;
}


.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.form-box{
    background: write;
    padding: 35px;
    border-radius: 10px;
    width: 320px;
    text-align: center;
    box-shadow: 0 0 12px rgba(0,0,0,0.4);


}

h2{
    color: #b30000;
    margin-bottom: 20px;
}

input{
    width: 100%;
    padding:10px;
    margin-top: 10px;
    border-radius:5px;
}


.bnt{
    margin-top: 15px;
    width:100%;
    padding: 12px;
    background-color: #b30000;
    color:write;
    border: none;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;


}


.btn:hover{
    background-color: #8a0000;
}

h1{
    color: #fff5e2;
}