body{
    margin: 0;
    padding: 0;
    background-image: url(d56e61e4083073ca7221bb1502773bc0.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: nunito;
    padding-top: 85px;
}

body::before{
    content: "";
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(179, 0, 0, 0.55);
    z-index: -1;
}

.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255,255,255,0.85);
    padding: 12px;
    text-align: center;
    backdrop-filter: blur(4px);
    z-index: 50;

}

.menu a{
    margin: 0 12px;
    color:#b30000;
    font-weight: bold;
    text-decoration: none;
    font-size: 17px;
}

.menu a:houver{
    text-decoration: underline;
}

.container{
    width: 60%;
    margin: auto;
}

h1{
    text-align: center;
    color:white;
    margin-bottom: 35px;
    text-shadow: 1px 1px 4px black;
}

.card{
    background: rgba(255,255,255,0.20);
    backdrop-filter: blur(7px);
    border-radius: 14px;
    padding: 25px;
    margin-bottom: 35px;
    border: 1px solid rgba(255,255,255,0.40);
    box-shadow: 0px 3px 12px rgba(0,0,0,0.35);
}
.card img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 15px;
    box-shadow: 0 0 8px rgba(255,255,255,0.4);
}

   

.card p{
    font-size: 18px;
    text-align: justify;
    color: #333333;
}

h2,li{
    color:#F2F2F2;
}