*{
    margin:0;
    padding:0;
}

body{
    background-image:url(d56e61e4083073ca7221bb1502773bc0.jpg);
    background-size: cover;
    background-position:center;
    background-repeat:no-repeat;
    font-family: Condensed;
    padding-top:65px;
}

body::before{
    content: "";
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(179, 0, 0, 0.59);
    z-index:-1;
}


.menu {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(255,255,255,0.85);
    padding: 12px;
    text-align: center;
    backdrop-filter: blur(4px);
    z-index: 50;
}

.menu a {
    margin: 0 12px;
    color: #b30000;
    font-weight: bold;
    text-decoration: none;
    font-size: 17px;
}

.menu a:hover {
    text-decoration: underline;
}


.container {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.text-box {
    background: white;
    width: 750px;
    padding: 35px;
    border-radius: 14px;
    box-shadow: 0 0 12px rgba(0,0,0,0.4);
}

p{
    font-size: 18px;
    line-height: 1.9;
    text-align: justify;
    color: white;
}

.card{
    background: rgba(255,255,255,0.25);
    backdrop-filter: blur(8px);
    border-radius: 14px;
    padding: 25px;
    margin-bottom: 28px;
    border: 1px solid rgba(255,255,255,0.45);
    box-shadow: 0px 0px 10px #fff(0,0,0,0.25);
}


input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 40px white inset !important;
    -webkit-text-fill-color: #000 !important;
    transition: background-color 5000s ease-in-out 0s;
}


input:focus, textarea:focus, select:focus {
    outline: none;
    border: 1px solid #b30000;
    box-shadow: none;
}

h2,h3,p,li{
    color: black;
}


