*
body{
    margin:0;
    padding:0;
    background-image: url(d56e61e4083073ca7221bb1502773bc0.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family:nunito;
    padding-top: 65px;
}

.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255,255,255,0.85);
    padding: 12px;
    text-align: center;
    backdrop-filter: blur(4px);
    z-index: 50;

}

.menu a{
    margin: 0 12px;
    color:#b30000;
    font-weight: bold;
    text-decoration: none;
    font-size: 17px;
}

.menu a:houver{
    text-decoration: underline;
}


.container{
    height:100vh;
    display: flex;
    justify-content:center;
    align-items: center;
}

h2{
    color:#b30000;
    margin-top: -20px;

}

input{
    width: 100%;
    padding:10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #888;
    outline: none;
}

.btn{
    background: #b30000;
    color: white;
    padding: 12px;
    margin-top: 35px;
    width:100%;
    border: none;
    border-radius: 6px;
    cursor:pointer;
}

.bnt:hover{
    background: #8a0000;
}