body{
    margin:0;
    padding:0;
    background-image:url("d56e61e4083073ca7221bb1502773bc0.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    font-family: Condensed;
    padding-top:70px;
}

body::before{
    content:"";
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(179, 0, 0, 0.55);
    z-index:-1;
}



.container{
    display: flex;
    flex-direction: column;
    width:75%;
    margin:auto;
    margin-top:35px;
}

.card{
    background:rgba(255,255,255,0.25);
    backdrop-filter: blur(6px);
    border-radius: 14px;
    padding:25px;
    margin-bottom:25px;
    border:1px solid rgba(255,255,255,0.45);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

h2{
    color: white;
    margin-bottom: 12px;
    text-align: center;
}

.card img{
    width: 100%;
    height:300px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0 0 8px rgba(0,0,0,0.4);
}

.card img:hover{
    transform: scale(1.04);
}

p{
    color:white;
    font-size: 18px;
    line-height: 1.8;
    text-align: justify;
}

.menu {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(255,255,255,0.95); 
    padding: 14px;
    text-align: center;
    backdrop-filter: blur(6px);
    border-bottom: 2px solid #b30000; 
    z-index: 100;
}

img {
  width: 100%;
  height: auto;
  filter: contrast(1.1) brightness(1.1) saturate(1.2);
}

.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255,255,255,0.85);
    padding: 12px;
    text-align: center;
    backdrop-filter: blur(4px);
    z-index: 50;

}

.menu a{
    margin: 0 12px;
    color:#b30000;
    font-weight: bold;
    text-decoration: none;
    font-size: 17px;
}

.menu a:houver{
    text-decoration: underline;
}
