*
body {
    margin: 0;
    padding: 0;
    background-image: url('d56e61e4083073ca7221bb1502773bc0.jpg');
    background-size: cover;
    background-position: center;
    font-family: nunito;
    padding-top: 90px;
    position: relative;
    z-index: 0;
}

body::before {
    content: "";
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(179, 0, 0, 0.55);
    z-index: -1;
}

.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255,255,255,0.85);
    padding: 12px;
    text-align: center;
    backdrop-filter: blur(4px);
    z-index: 50;

}

.menu a{
    margin: 0 12px;
    color:#b30000;
    font-weight: bold;
    text-decoration: none;
    font-size: 17px;
}

.menu a:houver{
    text-decoration: underline;
}


.bandeira{
    width:50px;
    vertical-align:middle;
    margin-right:20px;
}

h1{
    text-align:center;
    color:white;
    text-shadow:1px 1px 6px black;
    margin-bottom:35px;
}

.container{
    width:75%;
    margin:auto;
}

.card{
    background:rgba(255,255,255,0.28);
    backdrop-filter:blur(9px);
    border-radius:14px;
    padding:25px;
    margin-bottom:35px;
    border:1px solid rgba(255,255,255,0.5);
    box-shadow:0px 3px 12px rgba(0,0,0,0.4);
    color:white;
    font-size:18px;
}

button{
    display:block;
    width:100%;
    padding:12px;
    background:#b30000;
    border:none;
    border-radius:8px;
    color:white;
    font-size:18px;
    cursor:pointer;
    margin-top:10px;
}

button:hover{
    background:#7a0000;
}

#resultado{
    text-align:center;
    color:white;
    font-size:22px;
    margin-top:20px;
}

p{
    color:#333333;
}

h2{
    color:#F2F2F2;
}