*
body{
    margin: 0;
    font-family:nunito;
}

.topo{
    height: 300px;
    color: white;
    text-align: center;
    display: flex;
    justify-items: center;
    align-items: center;
    position: relative;
    background: url("download\ \(11\).jpeg");
}
.topo::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  
}


.topo h1{
    position: relative;
    font-size: 5rem;
}

.conteudo{
    display: flex;
    justify-content: center;
    padding: 30px;
    background-color: #f4f4f4;
}


.texto{
    max-width: 600px;
    background: white;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0,.25);
}


h2{
    text-align: center;
    color: #333333;
}

ul{
    margin-top: 10px;
    line-height: 1.7rem;
}


.rodape{
    text-align: center;
    padding: 15px;
    background-color:#b30000;
    color:write;
    margin-top: 30px;
}

.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255,255,255,0.85);
    padding: 12px;
    text-align: center;
    backdrop-filter: blur(4px);
    z-index: 50;

}

.menu a{
    margin: 0 12px;
    color:#b30000;
    font-weight: bold;
    text-decoration: none;
    font-size: 17px;
}

.menu a:houver{
    text-decoration: underline;
}

p{
    color:#333333;
}